.sign-in {
  max-width: 380px;
  display: flex;
  flex-direction: column;
//   margin: 0 auto;

  .buttons {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
  }
  .title {
    margin: 35px 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
